	.main{
		margin:auto;
		width: 960px;
			
	}







	/*#logo{
		margin: auto;
		border: 0px;
		background: #fff;
		width: 960px;
		background-color: #00ff00;
		height: 150px;
		text-align: center;
	}
	/*#banner{
		float: left;
		width: 1000px;
		height: 80px;
		background-color: white;
	}*/
	.banner ul{
		float: left;
		margin-left: 0px;

		
		
	}



		

		/*padding: 4px;
		margin-top: 0px;
		margin-right: 5px;
		margin-left: 0px;
		margin-bottom: 0px;
		text-align: center;
		width: 120px;
		list-style-type: none;
		background-color: #ff6600;
	}
	#banner ul {
		margin: 5px;
		padding: 0px;
		float: left;
	}*/
	.banner{
		float: left;
		margin: -16px 0px -16px -40px;
		
	}
	.banner li {
		float: left;
		list-style-type: none;
		text-align: center;
	}
	.li001{
	width: 240px;
	}
	#left1{
		width:472px;
	    height:500px;
	  /*  background-color: green;*/
	   
	   float: left;
	   border-right:  1px dotted;
	   border-left: 1px dotted;
	   border-bottom: 1px dotted;
	   margin-right: 4px;
	   margin-top: 10px;
	   border-top: 1px dotted;
	}
	#left1 a{
		text-decoration: none;
		font-size:25px;
		color:blue;

	}


	#left1 li{
	float: left;
		margin-right: 3px;
		/*width: 55px;
		height: 57px;*/
		width: auto;/* 自动*/
		height: auto;
		background-color: #0bf4f1;
		margin-top: 4px;
		padding-top: 5px;/*字距边缘*/
		margin-left: 1px;
		padding-left: 5px;
		margin-bottom: 2px;
		padding-right: 3px;

}
#left1 ul{
	padding-left: 25px;
	margin-top: 5px;
}


}
#left1 li:hover{
		background-color: green;
		/*圆角?*/
	}
#left1 a:hover {
		color: white;
	}
	#right1{
		width: 475px;
		height: 500px;
		margin: 0px 0px 0px 1px;
		background-color: white;
		float: right;
		border-bottom: 1px dotted;
		border-right: 1px dotted;
		border-left: 1px dotted;
		margin-left: 4px;
		margin-top: 10px;
		border-top: 1px dotted;

	}
	#right1 a{
		text-decoration: none;
		font-size:25px;
		font-family: "Courier",Verdana;
		color: blue;

	}
	#right1 li{
		float: left;
		margin-right: 3px;
		width: auto;
		height: auto;
		background-color:#0bf4f1;
		margin-top: 12px;
		margin-right: 10px;
	}
	/*#right1 li:hover{
		background-color: green;
		
	}*/
	#right1 a:hover{
		color: white;
	}
	#right1 ul{
		padding-left: 5px;
	}
	#left2{
		width:957px;
	    height:500px;
	    margin: 1px 0px 0px 0px;
	    background-color: white; 
	   float: left;
	   border-left: 1px dotted;
	   border-bottom: 1px dotted;
	   border-right: 1px dotted;
	   border-top: 1px dotted;
	   margin-top: 8px;
	}
	/*#right2{
		width: 477px;
		height: 500px;
		margin: 1px 0px 0px 1px;
		background-color: white;
		float: right;
		
	   border-bottom: 1px dotted;
	   border-right: 1px dotted;
	}*/
	#xiaoxun{
		width: 960px;
		height: 200px;
		background-color: white;
		position:relative;
		float: left;
		clear: both;/*think*/

		}
	.bottom{
		/*width: 960px;
		height: 80px;
		background-color: #2F08F6;
		position:relative;
		float: left;
		clear: both;/*think*/

	background-image : url(./img/bottom.png);
	background-repeat : no-repeat;
	background-position : center;
	height : 200px;
	width : 100%;
	width: 1349px;
	position : fixed;
	bottom : 0;
	z-index : 5;

	}
	
#s2{
	width: 960px;
	height: 280px;
	/*background-color: blue;*/
	float: left;
	margin-top: 4px;
	border: 1px solid;
	border-color: blue green red;
}
#s3{
	width: 960px;
	height: 350px;
	background-color: #0ce8f6;
	float: left;
	margin-top: 4px;
	border: 1px solid;
	border-color: blue green red;
}
#fleft{
	width:480px;
	height: 900px; 
	float: left;
	background-color:white;
	border:1px dotted;
	margin-top: 6px;
}
#fleft li{
	float: left;
		margin-right: 13px;
		width: 210px;
		height: 60px;
		background-color: #0bf4f1;
		margin-top: 13px;
		padding-top: 20px;

}
#fleft ul{
	padding-left: 15px;
}
#fleft a {
	text-decoration: none;
		font-size:50px;
		font-family: "Courier",Verdana;


}
#fleft li:hover{
		background-color: green;
		/*圆角?*/
	}
#fleft a:hover {
		color: white;
	}
#fright{
	width:406px;
	height: 900px; 
	float:right;
	background-color:white;
	border:1px dotted;
	margin-top: 6px;
	margin-left: 10px;
}
#fright li{
	float: left;
		margin-right: 3px;
		width: 250px;
		height: 80px;
		background-color: #0bf4f1;
		margin-top: 9px;
		padding-top: 20px;

}
#fright ul{
	padding-left: 5px;
}
#fright a {
	text-decoration: none;
		font-size:60px;
		font-family: "Courier",Verdana;


}
#fright li:hover{
		background-color: green;
		/*圆角?*/
	}
#fright a:hover {
		color: white;
	}
.cleft{
	width:700px;
	    height:auto;
	    background-color: white;
	   
	   float: left;
	   /*border:  1px dotted;*/
	   margin-right: 4px;
	   margin-top: 29px;
	   margin-left: 140px;
	}
	/*#cright{
		width: 250px;
		height: 500px;
		/*margin: 0px 0px 0px 1px;
		background-color: white;
		float: right;
		border-bottom: 1px dotted;
		border-right: 1px dotted;
		border-left: 1px dotted;
		margin-left: 0px;
		margin-top: 10px;
		border-top: 1px dotted;
	   
	}
*/



	#ili001{
width: 240px;
}
#ileft1{
	width:590px;
    height:400px;
    background-color: white; 
   float: left;
   border-right:  1px dotted;
   border-left: 1px dotted;
   border-bottom: 1px dotted;
   border-top: 1px dotted;
   margin-top: 5px;
   margin-bottom: 5px; 
}

#ileft2 a{
		text-decoration: none;
		font-size:35px;
		font-family: "Courier",Verdana;
		color: blue;

	}
	#ileft2 li{
		float: left;
		margin-right: 3px;
		width: auto;
		height: auto;
		background-color:#0bf4f1;
		margin-top: 12px;
		margin-right: 10px;
	}
	/*#ileft2 li:hover{
		background-color: green;
		}/*圆角?*/
	
	#ileft2 a:hover{
		color: white;
	}
#ileft2 ul{
		padding-left: 5PX;
	}










#iright1{
	width: 350px;
	height: 400px;
	margin: 0px 0px 0px 1px;
	background-color: white;
	float: right;
	border-bottom: 1px dotted;
	border-right: 1px dotted;
	border-left: 1px dotted;
	border-top: 1px dotted;
	margin-top: 5px;
	margin-bottom: 5px;
}

	

#ileft2{
	width:470px;
    height:600px;
    margin: 1px 0px 0px 0px;
    background-color: white; 
   float: left;
   border-left: 1px dotted;
   border-bottom: 1px dotted;
   border-right: 1px dotted;
   border-top: 1px dotted;
   margin-top: 5px;

}

#iright2{
	width: 470px;
	height: 600px;
	margin: 1px 0px 0px 1px;
	background-color: white;
	float: right;
	margin-top: 7px;
   border-bottom: 1px dotted;
   border-right: 1px dotted;
   border-left: 1px dotted;
   border-top: 1px dotted;
   margin-top: 5px;
}




#iright2 a{
		text-decoration: none;
		font-size:38px;
		font-family: "Courier",Verdana;
		color: blue;

	}
	#iright2 li{
		float: left;
		margin-right: 3px;
		width: auto;
		height: auto;
		background-color: #66CCFF;
		margin-top: 12px;
		margin-right: 10px;
	}
/*	#iright2 li:hover{
		background-color: green;
		/*圆角?*/
	
	#iright2 a:hover{
		color: white;
	}
#iright2 ul{
		padding-left: 5PX;
	}

#iright1 h3{
	text-decoration: none;
		font-size:25px;
		color:blue;
		margin-top: -2px;
}

#iright1 a{
		text-decoration: none;
		font-size:25px;
		color:#0bf4f1;

	}


	#iright1 li{
	float: left;
		margin-right: 3px;
		width: 60px;
		height: 60px;
		/*width: auto;
		height: auto;*/
		background-color: #0bf4f1;
		margin-top: 4px;
		padding-top: 1px;/*字距边缘*/
	
		padding-left: 5px;
		margin-bottom: 2px;

}
#iright1 ul{
	padding-left: 40px;
	margin-top: -12px;
}


}
#iright1 li:hover{
		background-color: green;
		/*圆角?*/
	}
#iright1 a:hover {
		color: green;
		

	}

/*
#cleft{
	width:700px;
    height:900px;
    
    background-color: white; 
   float: center;
   border-left: 1px dotted;
   border-bottom: 1px dotted;
   border-right: 1px dotted;
   border-top: 1px dotted;
   margin-top: 19px;
   margin-left: 130px;
   margin-top: -5px;

/*}*/
/*#cright{
	width:320px;
    height:900px;
    margin: 1px 0px 0px 0px;
    background-color: white; 
   float:right;
   border-left: 1px dotted;
   border-bottom: 1px dotted;
   border-right: 1px dotted;
   border-top: 1px dotted;
   margin-top: 5px;
}*/


















#left2 a{
		text-decoration: none;
		font-size:35px;
		font-family: "Courier",Verdana;
		color: blue;

	}
	#left2 li{
		float: left;
		margin-right: 3px;
		width: auto;
		height: auto;
		background-color:#0bf4f1;
		margin-top: 12px;
		margin-right: 10px;
	}
	#left2 li:hover{
		background-color: green;
		/*圆角?*/
	}
	#left2 a:hover{
		color: white;
	}
#left2 ul{
		padding-left: 5PX;
	}

#s1{
	width: 960px;
	height: 280px;
	/*background-color: #9ef93e;*/
	float: left;
	margin-top: 8px;
	border: 1px solid;
	border-color: blue green red;
}

#s1 a{
		text-decoration: none;
		font-size: 25px;
		color:blue;


	}


	#s1 li{
	float: left;
		margin-right: 3px;
		/*width: 55px;
		height: 57px;*/
		width: auto;/* 自动*/
		height: auto;
		background-color: #0bf4f1;
		margin-top: 4px;
		padding-top: 5px;/*字距边缘*/
		margin-left: 1px;
		padding-left: 5px;
		margin-bottom: 2px;
		padding-right: 3px;

}
#s1 ul{
	padding-left: 25px;
	margin-top: 5px;
}


}
#s1 li:hover{
		background-color: green;
		/*圆角?*/
	}
#s1 a:hover {
		color: white;
}















#s2 a{
		text-decoration: none;
		font-size:25px;
		color:blue;

	}


	#s2 li{
	float: left;
		margin-right: 3px;
		/*width: 55px;
		height: 57px;*/
		width: auto;/* 自动*/
		height: auto;
		background-color: #0bf4f1;
		margin-top: 4px;
		padding-top: 5px;/*字距边缘*/
		margin-left: 1px;
		padding-left: 5px;
		margin-bottom: 2px;
		padding-right: 3px;

}
#s2 ul{
	padding-left: 25px;
	margin-top: 5px;
}


}
#s2 li:hover{
		background-color: green;
		/*圆角?*/
	}
#s2 a:hover {
		color: white;


	}














	#s3 a{
		text-decoration: none;
		font-size:45px;
		color:#0ce8f6;

	}


	#s3 li{
	float: left;
		margin-right: 3px;
		/*width: 55px;
		height: 57px;*/
		width: auto;/* 自动*/
		height: auto;
		/*background-color: #0bf4f1;*/
		margin-top: -2px;
		padding-top: 5px;/*字距边缘*/
		margin-left: -5px;
		padding-left: 5px;
		margin-bottom: -2px;
		padding-right: 3px;

}
#s3 ul{
	padding-left: 25px;
	margin-top: 5px;
	border: 1px solid;
;
}


}
#s3 li:hover{
		background-color: green;
		/*圆角?*/
	}
#s3 a:hover {
		color: blue;}



.tu1{
	margin-top: -0px;
	margin-left: 0px;
	float: left;
}
 .tu2{
 	float: right;
 	margin-top: -20px;
 }
.tu3{
	float: right;

}
.tiantian{
	color: red;
	font-size: 180px;
}
.tiantian1{
	color: blue;
}




